body{
width: 100%;
height: 100%;
background-color: yellow;
position: absolute;
}
.wrap{
  margin: 0px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: orange;
  float: left;
}
.block{
  display: inline-block;
}
.Head{
background-color: black;
color:white;
}
.img {
  width: 120px;
  height: 120px;
  margin: 15px;
  border-radius: 60px;
  background-color: grey;
  float: left;
}
.frame{
  overflow-y: hidden;
  width: 100%;
  max-width:300px;
  height: 600px;
  margin-right:100px;
  margin-top: 20px;
  margin-left: 500px;
  border-radius: 8px;
}
.Display {
  text-align: center;
  height: auto;
  padding: 3px;
  color: white;
}
a {
  text-underline-position: initial;
}
.user{
  text-align: center;
  font-weight: 400;
  margin: 15px;
  font-size: 18px;
  font-weight: 400;
}
.days{
  font-size: 17px;
  margin: 2px;
}
.card-body{
  text-align: center;
  font-weight: 400;
}
.Dash{
  background-color: orange;
  color:rgb(59, 56, 56);
  font-size: 22px;
  max-height: auto;
}
.timer{
  font-weight: 550;
  margin-left: 8px;
  color: rgb(59, 56, 56);
}
.my-modal{
  width: 100px;
  height: 300px;
}
.new-button{
  margin: 15px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: rgb(59, 56, 56);
  color: orange;
}
.clear{
  margin-bottom: 26px;
}
.activity-wrap{
display: flex;
flex-direction: row;
margin-top: 35px;
font-size: 23px;
}
.activity{
  margin-left: auto;
  margin-right: auto;
  font-weight: 550;
}
.Content{
  width: inherit;
  height: inherit;
  overflow: scroll;
  overflow-y:visible;
  background-color: black;
}
.list{
  margin: 1.7px;
  padding: 0.8px;
  background-color: #ffe000;
  border-radius: 5px;
  height:50.5px;
  overflow: hidden;
}
.title{
  color: black;
  font-size: 15px;
}
.desc{
 font-size: 13px;
 color: rgb(59, 56, 56);
}
